<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style/main.css">
    <script src="../javascript/login.js"></script>
</head>
<body>
    <h1>Login</h1>
    <h1>username</h1>
    <form>
        <input type="text" id="username">
        <input type="text" id="password">
        <input type="button" value="Accedi" onclick="log()">
        <input type="button" value="Non ho un account" onclick="location.href = 'register.html'">
    </form>
</body>
</html>