<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progetto Finale</title>
    <link rel="stylesheet" href="static/style/main.css">
    <script src="javascript/main.js"></script>
</head>
<body>
    <form>
        <input type="text" id="username" value="John"><br>
        <input type="text" id="password" value="Doe"><br><br>
        <input type="button" value="Submit" onclick="reg()">
    </form> 
    <div id="response"></div>
</body>
</html>