<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progetto Finale</title>
    <link rel="stylesheet" href="../static/style/main.css">
    <script src="../javascript/register.js"></script>
</head>
<body>
    <form>
        <input type="text" id="username"><br>
        <input type="text" id="password"><br><br>
        <input type="button" value="Registrati" onclick="reg()">
        <input type="button" value="Ho già un account" onclick="location.href = '/templates/login.html'">
    </form>
</body>
</html>